<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Bem-vindo(a) ao nosso site!</h1>
    <p>Escolha uma das páginas abaixo:</p>
    <ul>
      <li><a href="/">Atividade 1</a></li>
      <li><a href="/operacao/:operacao">Atividade 2</a></li>
      <li><a href="#">Página 3</a></li>
      <li><a href="#">Página 4</a></li>
      <li><a href="#">Página 5</a></li>
    </ul>
  </body>
</html>