<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contador de Acessos</title>
</head>
<body>
  <h1>Contador de Acessos</h1>
  <p>Quantidade de acessos Atualmente: {{accessCount}}</p>
  <p>Data e hora do primeiro acesso: {{firstAccess}}</p>
</body>
</html>
